/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/cache/*.php
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php
/bootstrap/ssr
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpactor.json
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/.idea
/.vscode
